<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839076632765-l9b7vfkn11ti19moic2qreqgrqvjfubn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839076632765-l9b7vfkn11ti19moic2qreqgrqvjfubn</string>
	<key>API_KEY</key>
	<string>AIzaSyBwc7JWz1xoxKFakn_qUspX9B6vr4JYH5M</string>
	<key>GCM_SENDER_ID</key>
	<string>839076632765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ketanchoyal.subTrack</string>
	<key>PROJECT_ID</key>
	<string>sub-track-b7ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>sub-track-b7ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839076632765:ios:2aac66588ecd4d3d4affd4</string>
</dict>
</plist>